name: cuda-diffusion
channels:
  - pytorch-nightly
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pip
  - pip:
    - torch
    - torchvision
    - torchaudio
    - --index-url https://download.pytorch.org/whl/nightly/cu128
    - diffusers
    - transformers
    - accelerate
    - safetensors
    - invisible-watermark
    - jupyterlab
    - matplotlib
    - pillow